.container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(5, auto);
    gap: 5px;

}

.container .block{
    padding:20px;
    color: white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
}

.block.block1{
    background-color: darkred;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
 }
.block.block2{
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: darkslateblue;
}
.block.block3{
    background-color: cornflowerblue;

}
.block.block4{
    background-color: lightseagreen;
}
.block.block5{
background-color: mediumpurple;
    grid-column-start: 2;
    grid-column-end: 4;
}
.block.block6{
grid-column-start: 1;
    grid-column-end: 3;
    background-color: darkred;
}
.block.block7{
background-color: darkslateblue;
}
.block.block8{
    background-color: cornflowerblue;
    grid-column-start: 1;
    grid-column-end: 4;
}
