
article {
    padding:10px;
    border: 1px solid black;
    width:50%;
}
.left{
    float: left;
    margin: 10px;
}
.right{
    float: right;
    margin: 10px;
}
p {
    font-size:1.25em;
    display:inline-block;
    margin:10px;
}

h2 {
    font-size: 32px;
    margin:10px;
}