body{
    width: 95%;
    font-family: Verdana, sans-serif;
    margin: 0 auto;
}
section > header, section > header > h1{
    background-image: url("../Im/header.jpg");
    background-position: center;
    background-size: cover;
    color: #EDF2F4;
    background-repeat: no-repeat;
    height: 80px;
}
section > nav{
    background-color: #2B2D42;
    margin-bottom: 5px;
}
section > nav > a{
    color: green;
}
section > article > header {
    color: gray;
    text-decoration: underline;
    font-size: 1em;
    padding: 1px;
}
article{
    background-color: lightgray;
    margin-bottom: 1px;
}
footer {
    margin: 5px;
    font-size: 13px
}
