body{
    font-family: Verdana, sans-serif;
    width: 95%;

}
h1{
    color: cornflowerblue;
    background-color: #8D99AE;
    margin-bottom: 10px;
}
h2{
    text-decoration: underline;
}
p{
    background-color: lavenderblush;
}